<html>
<meta charset="UTF-8">
<head>
    <title>墨林期货系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <br/>
    <h1><font size=10 color=0000ff>最佳仓位管理</font></h1>
    <br/>
    <h1>【{{symbol_name}}】的最新价: {{now_price}}, 交易所保证金比例: {{ratio}}%</h1>
    <br/>
    <h1>最佳开仓: <font size=10 color=ff0000>{{best_cnt}}</font> 手（最多可以开 {{max_cnt}} 手）</h1>
    <br/>
    <h1>占用保证金: <font size=10 color=ff0000>{{aa}}</font> 万元, 占初始本金比例: <font size=10 color=ff0000>{{aa2}}</font>%</h1>
    <br/>
    <h1>开仓手续费: {{fee_open}} 元</h1>
    <h1>平今手续费: {{fee_today}} 元</h1>
    <h1>平昨手续费: {{fee_yesterday}} 元</h1>
</div>
</body>
</html>