<html>
<meta charset="UTF-8">
<head>
    <title>墨林资金管理系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <br/>
    <h1><font color=0000ff size=10>墨林资金管理</font></h1>
    <form method="post" action="http://{{ip_port}}/cal_money_management">
        <br/>
        <h2>初始本金: <input type="text" name="profit" style="font-size:18px;width:100px;height:30px;"/> 万元</h2>
        <h2>单次开仓止损比例: <input type="text" name="percent" value=1 style="font-size:18px;width:40px;height:30px;"/>%<br></h2>

        <h2>合约代码: <input type="text" name="symbol" style="font-size:18px;width:160px;height:30px;"/></h2>
        <h4>合约代码示例: <font color=ff0000> 交易纯碱，则输入 SA2501 或者 sa2501</font></h4>
        <h2>默认最大止损 <input type="text" name="stop_loss_cnt" value=10 style="font-size:18px;width:90px;height:30px;"/> 跳</h2>
        <br/>
        <input type="submit" value="查  询" name="submit" style="font-size:22px;width:120px;height:40px;"/>
    </form>
</div>
</body>
</html>